.App {
  /* min-height: calc(var(--vh) * 100); 설정 시 자식 element가 height: 100% 해도 not working! */
  /* min-height 와 height는 결이 다른 property 인 듯 */
  height: calc(var(--vh) * 100);
  display: flex;
  background: #fffcdd;
}
