@font-face {
  font-family: "SUIT-Medium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --main-gradient-color: linear-gradient(270deg, #fc466b 0%, #3f5efb 100%);
  --background-color: #f0f0f3;
  --logo-background-color: rgb(232, 181, 5);
  --logo-box-color: rgb(255, 222, 89);
  --font-sub-color: #939393;
}

* {
  box-sizing: border-box;
  border-width: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "SUIT-Medium";
}
